<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.githubyss.mobile.common.ui"
        tools:ignore="LockedOrientationActivity"
        >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
            android:name="com.githubyss.mobile.common.debug.application.ComuiApplication"
            android:label="@string/comui_appName"
            android:theme="@style/comres_app_gray_theme"
            android:icon="@mipmap/comres_ic_launcher"
            android:roundIcon="@mipmap/comres_ic_launcher_round"
            android:allowBackup="false"
            android:supportsRtl="true"
            >

        <activity
                android:name="com.githubyss.mobile.common.debug.homepage.HomepageActivity"
                android:label="@string/comui_activityLabel_homepage"
                android:theme="@style/comres_activity_noActionBar_theme"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.githubyss.mobile.common.debug.viewbinding.reflect.ViewBindingReflectActivity"
                android:label="@string/comui_view_binding_reflect_title"
                android:theme="@style/comres_activity_noActionBar_theme"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                />

        <activity
                android:name="com.githubyss.mobile.common.debug.viewbinding.inline.ViewBindingInlineActivity"
                android:label="@string/comui_view_binding_inline_title"
                android:theme="@style/comres_activity_noActionBar_theme"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                />
    </application>
</manifest>
