<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.githubyss.mobile.common.ui"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.application.ComuiApplication"
        android:theme="@style/comui_app_theme"
        android:allowBackup="false"
        android:icon="@mipmap/comres_ic_launcher_default"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/comres_ic_launcher_default_round"
        android:supportsRtl="true"
        tools:replace="android:label,android:allowBackup"
        >

        <!--<receiver-->
        <!--    android:name=".app.widget.widget_default.WidgetDefault"-->
        <!--    android:exported="false"-->
        <!--    >-->
        <!--    <intent-filter>-->
        <!--        &lt;!&ndash; 这个 android.appwidget.action.APPWIDGET_UPDATE 是固定的，不能改 &ndash;&gt;-->
        <!--        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--    </intent-filter>-->

        <!--    &lt;!&ndash; 这个 android.appwidget.provider 是固定的，不能改 &ndash;&gt;-->
        <!--    <meta-data-->
        <!--        android:name="android.appwidget.provider"-->
        <!--        android:resource="@xml/comui_app_widget_info"-->
        <!--        />-->
        <!--</receiver>-->

        <!-- Widget 必须添加 manifest 文件中，和 BroadcastReceiver 一样使用 <receiver 标签 -->
        <receiver
            android:name=".app.widget.widget_schedule.ScheduleWidget"
            android:exported="false"
            >

            <!-- 此处设置 Widget 更新动作
            <intent-filter> 元素必须包含一个 <action> 元素与 android:name 属性。
            这个属性指定 AppWidgetProvider 接受系统的 AppWidgetManager.ACTION_APPWIDGET_UPDATE 广播。
            这是唯一的广播申明，您必须显式地声明，代表此类就是一个widget。
            AppWidgetManager 自动发送所有其他应用程序部件广播此注册的广播才能收到，也就是说我们必须要指定识别为 Widget 的 action，当然你需要这个 AppWidgetProvider 接收接她 action。
            -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 此处设置 Widget 的描述资源 res/xml/widget_info.xml
            android:name 指定 meta-data 名称。使用 android.appwidget.provider 必须确定 AppWidgetProviderInfo 描述符的数据。
            android:resource 指定 AppWidgetProviderInfo 资源XML。
            -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/comui_widget_schedule_info"
                />
        </receiver>

        <service
            android:name=".app.widget.widget_schedule.ScheduleWidgetListRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

        <receiver
            android:name=".app.widget.widget_player.PlayerWidget"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/comui_widget_player_info"
                />
        </receiver>

        <service
            android:name=".app.widget.widget_player.PlayerWidgetListRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

        <activity
            android:name=".app.page.homepage.HomepageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.page.speech_recognition.SpeechRecognitionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />

        <activity
            android:name=".app.page.widget.WidgetComposeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
    </application>
</manifest>
