<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.githubyss.mobile.common.ui"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.application.ComuiApplication"
        android:theme="@style/comui_app_theme"
        android:allowBackup="false"
        android:icon="@mipmap/comres_ic_launcher_default"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/comres_ic_launcher_default_round"
        android:supportsRtl="true"
        >

        <!--<receiver-->
        <!--    android:name=".app.widget.widget_default.WidgetDefault"-->
        <!--    android:exported="false"-->
        <!--    >-->
        <!--    <intent-filter>-->
        <!--        &lt;!&ndash; 这个 android.appwidget.action.APPWIDGET_UPDATE 是固定的，不能改 &ndash;&gt;-->
        <!--        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--    </intent-filter>-->

        <!--    &lt;!&ndash; 这个 android.appwidget.provider 是固定的，不能改 &ndash;&gt;-->
        <!--    <meta-data-->
        <!--        android:name="android.appwidget.provider"-->
        <!--        android:resource="@xml/comui_app_widget_info"-->
        <!--        />-->
        <!--</receiver>-->

        <receiver
            android:name=".app.widget.widget_schedule.ScheduleWidget"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/comui_widget_schedule_info"
                />
        </receiver>

        <service
            android:name=".app.widget.widget_schedule.ScheduleListViewService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

        <activity
            android:name=".app.page.homepage.HomepageActivity"
            android:theme="@style/comresTheme_activity_noActionBar"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.page.speech_recognition.SpeechRecognitionActivity"
            android:theme="@style/comresTheme_activity_noActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
    </application>
</manifest>
