<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.githubyss.mobile.common.ui"
        tools:ignore="GradleOverrides"
        >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
            android:name="com.githubyss.mobile.common.debug.application.ComuiApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/comui_app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/comres_app_theme"
            android:allowBackup="true"
            android:supportsRtl="true"
            >

        <activity
                android:name="com.githubyss.mobile.common.debug.homepage.ComuiHomepageActivity"
                android:theme="@style/comres_activity_theme"
                android:label="@string/comui_homepage_title"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
